@using System.Web.Optimization;

@{
    Layout = null;  
}
  


<!DOCTYPE html>

<html>
    <head>
        <title> @ViewBag.Title - SimpleBlog </title>
        
        @Styles.Render("~/styles")

        </head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("home")">Simple Blog</a>
        </h1>

        <i class="glyphicon glyphicon-bell"></i>

        @if(User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">Logout</a>
            
            if(User.IsInRole("Administrator"))
            {
                <a href="@Url.Action("index", "Posts", new{area="admin"})">View posts in admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }
        
    
    
    </header>

    <!--INSERT VIEW HERE! -->
    @RenderBody()


    <footer>
        &copy; @DateTime.UtcNow.Year - Me
    </footer>

    @Scripts.Render("~/scripts")
</body>



</html>
